@import '../../../styles/variables';

.container {
  background: blue !important;
}
.titleContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 10px 10px 10px 25px;
  background: $formStepHeaderBg;
  margin: 0;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  .title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: $colorWhite;
  }
}

.content {
  padding: 25px;
  background: $formStepBg;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  color: $colorRed;
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
  box-shadow: 0 4px 4px rgba($color: $colorBlack, $alpha: 0.25);
}
