$colorWhite: #fff;
$colorBlack: #222;
$colorRed: #f70000;
$colorBtnLinear: linear-gradient(#5a63bf, #7463d0 60%);
$formStepHeaderBg: linear-gradient(#fec500, #eea30e 60%);
$formStepBg: #dedede;
$borderRadius: 8px;
$primaryFontSize: 15px;
$secondaryFontSize: 13px;
